<div>
    <!--< attachment_image_tag @user, :image -->
    <p>ユーザーネーム：<%= @user.name %></p>
    <p>：<%= @book.title %></p>
    <p>：<%= @book.body %></p>

    <% if @book.user == current_user %>
      <!--= link_to "", post_image_path(@book), method: :delete %>-->
    <% end %>
</div>